<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div>
    <h2>Login Project - List of all User</h2>
    <div>
        <h4><a href="/">Home Page</a></h4>
    </div>

    <h3>All users registered:  <span th:text="'(Count: ' + ${userCount} + ')'"></span></h3>

    <table>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>