<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div>
    <h2>Welcome to Registration Project</h2>
    <div>
        <h4><a href="/RegisterNewEmployee">Register a new Employee</a></h4>
        <h4><a></a></h4>
        <h4><a href="/listOfAllEmployeesDB">Load list of Employees from Database</a></h4>
        <h4><a></a></h4>
        <h4><a href="/CreateNewQuestionnaire">Create a New Questionnaire</a></h4>
        <h4><a></a></h4>
        <h4><a href="/AddQuestionToAQuestionnaire">Add Question to a Questionnaire</a></h4>
        <h4><a></a></h4>
        <h4><a href="/EditDeleteAQuestionnaireList">Edit/Delete a Questionnaire</a></h4>
        <h4><a></a></h4>
        <h4><a href="/takePartInQuestionnaire">Take Part In a Questionnaire</a></h4>
    </div>
</div>
</html>
