<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div>
    <h2>Register a new Employee</h2>
    <div>
        <h4><a href="/">Home Page</a></h4>
    </div>

    <form name="myForm" th:action="@{/addNewEmployeeToList}" method="post">
        <label for="firstName">First name: </label>
        <input type="text" name="firstName" id="firstName" size="30" th:value="${firstName}" required/><br/>
        <br/>
        <label for="lastName">Last name:  </label>
        <input type="text" name="lastName" id="lastName" size="30" th:value="${lastName}" required/><br/>
        <br/>
        <label>Gender: &nbsp; &nbsp;</label>
        <input type="radio" name="gender" th:value="Male"> Male
        <input type="radio" name="gender" th:value="Female"> Female
        <input type="radio" name="gender" th:value="Other"> Other
        <br/>
        <br/>
        <label for="email">E-Mail: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="email" id="email" size="30" th:value="${email}" required/><br/>
        <br/>
        <label for="tel">Telephone:</label>
        <input type="text" name="tel" id="tel" size="30" th:value="${tel}" required/><br/>
        <br/>
        <input id="submit" type="submit" size="40" value="Register a new Employee" /><br/>
    </form>

</div>
</html>