<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div>
    <h2>Register new User</h2>
    <div>
        <h4><a href="/">Home Page</a></h4>
    </div>

    <form name="myForm" th:action="@{/addNewUserToList}" method="post">
        <label for="firstName">First name: </label>
        <input type="text" name="firstName" id="firstName" size="30" th:value="${firstName}" required/><br/>
        <br/>
        <label for="lastName">Last name:  </label>
        <input type="text" name="lastName" id="lastName" size="30" th:value="${lastName}" required/><br/>
        <br/>
        <label for="email">E-Mail: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="email" id="email" size="30" th:value="${email}" required/><br/>
        <br/>
        <label for="password">Password:&nbsp;</label>
        <input type="text" name="password" id="password" size="30" th:value="${password}" required/><br/>
        <br/>
        <input id="submit" type="submit" size="40" value="Register as new user" /><br/>
    </form>

</div>
</html>