<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<div>
    <h2>Register new User</h2>
    <div>
        <h4><a href="/">Home Page</a></h4>
    </div>

    <form name="myForm" th:action="@{/addNewUserToList}" method="get">
        <label for="firstNameUser">First name: </label>
        <input type="text" name="firstNameUser" id="firstNameUser" size="30" th:value="${firstNameUser}" required/><br/>
        <br/>
        <label for="lastNameUser">Last name:  </label>
        <input type="text" name="lastNameUser" id="lastNameUser" size="30" th:value="${lastNameUser}" required/><br/>
        <br/>
        <label for="emailUser">E-Mail: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" name="emailUser" id="emailUser" size="30" th:value="${emailUser}" required/><br/>
        <br/>
        <label for="passwordUser">Password:&nbsp;</label>
        <input type="text" name="passwordUser" id="passwordUser" size="30" th:value="${passwordUser}" required/><br/>
        <br/>
        <input id="submit" type="submit" size="40" value="Register as new user" /><br/>
    </form>

</div>
</html>